.header {
  padding: 0;
  margin: 0;
  color: white;
}
.h1 {
  padding: 0;
  margin: 0;
}

.logo {
  padding: 10px;
  height: 30px;
  width: 30px;
}
.background {
  background-color: #7BA6D3;
}

.search {
  background-color: #7BA6D3;
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
  height: 20px;
  color: white;
  font-size: 20px;
}

.searchbar {
  width: 250px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  background: #7BA6D3;
  border-color: white;
  fill: white;
}
.newsList {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  width: 480px;
  height: 160px;
  vertical-align: middle;
  display: inline-block;
  text-align: justify;
}
.newsListImage {
  width: 136px;
  height: 131px;
  vertical-align: middle;
  border-radius: 10px;
}
.newsListContents {
  vertical-align: top;
  text-align: justify;
  height: 10px;
  text-overflow: ellipsis;
}
.newsListHeadline {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  word-wrap: break-word;
  font-weight: 600;
}

.newsListContent {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.popUp {
  width: 350px;
  height: 330px;
  align-items: center;
  display: block;
}

.screen {
  vertical-align: middle;
  display: inline-block;
  text-align: justify;
}

.screenImage {
  width: 486px;
  height: 182px;
}

.headline {
  font-size: 20px;
  font-weight: 30px;
  width: 290px;
  word-wrap: break-word;
}

.newsContent {
  font-size: 15px;
  width: 290px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

